@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  /*=========== FONTS ===========*/
  --font-16: 16px;
  --font-20: 20px;
  --font-24: 24px;
  --font-25: 25px;
  /* ===============COLOR=============== */
  --color-white: #ffffff;
  --color-gray-55: #555555;
  --color-gray-9C: #9c9c9c;
  --color-gray-76: #767676;
  --color-black-15: #151515;
  --color-light-green: #d0fc3f;
  --color-white-ff: #f5efff;
  --color-black-1b: #1b1b1b;
  --color-black-1e: #16191e;
  --color-black-31: #313131;
}

.left {
  left: 0px;
}

.common-text-opacity {
  color: var(--color-gray-76);
}

.dash-input {
  width: 10px;
}

.dashboar-table-body {
  background-color: var(--color-white);
}

.overlay-active {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
}

.ml-400 {
  margin-left: 400px;
}

.image-overlay {
  position: absolute;
  bottom: 0px;
  text-align: center;
}

.image {
  z-index: -1;
}

.main-card {
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.25) 58.33%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

/* content-manger sidebar */
.content-manager-sidebar {
  width: 369px;
  min-height: 100vh;
  z-index: 1;
  background-color: var(--color-black-1b);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.dec-width {
  width: 130px !important;
}

.cn-sidebar-text {
  font-size: var(--font-25);
  font-weight: 500;
  color: var(--color-black-1e);
  font-family: "Poppins", sans-serif;
}

.cn-sidebar-border {
  border: 1px solid var(--color-white);
  opacity: 0.1;
}

.cn-sidebar-texts {
  font-size: var(--font-25);
  font-weight: 500;
  color: var(--color-black-1e);
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 991px) {
  .content-manager-sidebar {
    width: 320px;
    height: 746px;
    position: fixed;
    top: 0;
    height: 100vh;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    transition: 0.2s;
  }
}

.right-0 {
  left: 0px;
}

.right-350 {
  left: -350px;
}

@media (max-width: 992px) {
  .cn-overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
  }
}

.sidebar-footer {
  background-color: var(--color-black-31);
  border-radius: 10px;
}

.user-img {
  background-color: var(--color-white-ff);
  background-image: url("../assets/img/Faces.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.side-item-text {
  font-family: "Josefin Sans";
  font-size: var(--font-16);
  font-weight: 400;
  color: var(--color-white);
  opacity: 0.6;
}

.dashboar-text {
  font-family: "Josefin Sans";
  font-size: var(--font-25);
  font-weight: 700;
}

.Dashboard-table-head {
  background-color: var(--color-black-1e);
  color: var(--color-white);
  font-family: "Josefin Sans";
  font-size: var(--font-20);
  font-weight: 400 !important;
}

.dash-body-text {
  color: var(--color-gray-76);
  font-family: "Josefin Sans";
  font-size: var(--font-16);
  font-weight: 400;
}

.edit-btn-dash {
  font-family: "Josefin Sans";
  font-size: var(--font-16);
  font-weight: 400;
  background: var(--color-light-green);
  border: 1px solid var(--color-light-green);
  border-radius: 22px;
  color: var(---color-black);
}
.edit-btn-dash:hover {
  background-color: white;
  color: var(--color-light-green);
}
.remove-btn-dash {
  background: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: var(---color-black);
  font-size: var(--font-16);
  font-weight: normal;
  font-family: "Josefin Sans";
  border-radius: 22px;
}
.remove-btn-dash:hover {
  background: rgba(245, 222, 179, 0.233);
  color: var(---color-black);
}

tbody td {
  vertical-align: middle !important;
}

.white-space-norwap {
  white-space: nowrap;
}

.pagination-text-dash-active {
  background: var(--color-light-green);
  cursor: pointer;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  border-radius: 9.21875px;
  padding: 6px 19px;
  color: var(--color-black-15);
  font-weight: 600;
  font-family: "Josefin Sans" !important;
  font-size: var(--font-24);
}

.pagination-text-dash {
  padding: 6px 19px;
  background-color: var(--color-white);
  color: var(--color-black-15);
  font-weight: 600;
  box-shadow: 3px 5px 22px rgba(0, 0, 0, 0.08);
  font-family: "Josefin Sans" !important;
  font-size: var(--font-24);
  cursor: pointer;
  border-radius: 9.21875px;
}

.pagination-text-next {
  border: 1px solid var(--color-gray-9C);
  border-radius: 9px;
  padding: 6px 15px;
  font-family: "Josefin Sans";
  color: var(--color-gray-55);
  font-size: var(--font-16);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.77;
}

.table > :not(caption) > * > * {
  padding: 12px 20px !important;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1 px;
  box-shadow: inset 0 0 0 9999 px var(--bs-table-accent-bg);
}

.edit-program-text {
  font-size: var(--font-25);
  font-weight: 700;
  color: var(--color-black-15);
}

.all-side-adjust {
  min-height: 100vh;
  overflow: auto;
}
.h-100vh-overflow-auto {
  height: 100vh;
  overflow: auto;
}

@media (min-width: 1600px) {
  .container-xl {
    max-width: 1450px !important;
  }
}

.en-select-text {
  color: var(--color-gray-76);
  font-size: var(--font-16);
}

.number-input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
