@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&family=Press+Start+2P&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --font-14: 14px;
  --font-16: 16px;
  --font-36: 36px;
  --font-24: 24px;
  --color: #dbdbdb;
  --color-bg-dark-grey: #e5e5e5;
}

.bg-dark-grey {
  background-color: var(--color-bg-dark-grey);
}

.fs-16 {
  font-size: var(--font-16);
}

.fs-24 {
  font-size: var(--font-24);
}

.fw-600 {
  font-weight: 600;
}

.edit-form {
  background-color: white;
  font-size: var(--font-16);
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 10px;
}

.edit-input {
  border: 1px solid #dbdbdb;
  padding: 18px 12px;
  color: #575757;
  font-size: var(--font-16);
  font-weight: 400;
}

.para-2 {
  border: 1px solid #00000026;
  padding: 25px 17px;
  color: #808080;
  font-size: var(--font-16);
  font-weight: 400;
  line-height: 34px;
}

.btn-skew {
  transform: skewX(-22deg);
  height: 50px;
  width: 150px;
}

@media (max-width: 576px) {
  .w-xs-110 {
    width: 110px !important;
  }
}

.black-btn-skew:hover {
  background-color: rgb(59, 58, 58) !important;
}

.gray-btn-skew:hover {
  background: #cfcccc !important;
}

.skew-text {
  transform: skewX(22deg);
}

.bg-gray {
  background: #dbdbdb;
  color: #575757;
}

.mw-550 {
  max-width: 550px;
}

.w-200 {
  width: 200px;
}

.top-div {
  padding: 16px;
  box-shadow: 0px 4px 11px 0px #00000014;
}
.h-100vh {
  height: 100vh;
}
/* LOADER IMG */
.loader-img {
  height: 200px;
  width: 200px;
}
/*================================== MODAL-CSS ==================================*/
.mw-528 {
  max-width: 528px;
}

.modal {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--font-16);
  font-weight: 400;
}

.modal-heading {
  font-size: var(--font-36);
  font-weight: 400;
}

.btn-secondary {
  border: 1px solid transparent;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:focus-visible {
  border: none;
  box-shadow: none !important;
  background-color: #dbdbdb;
  color: #575757;
}

.btn:focus {
  box-shadow: none !important;
}

@media (max-width: 576px) {
  :root {
    --font-16: 14px;
    --font-36: 30px;
    --font-24: 18px;
    --font-14: 12px;
  }

  .w-101 {
    width: 101px;
  }
}

/* =============================NAV-BAR============================= */
.search-input {
  padding: 10px 42px;
  border-radius: 50px;
  font-size: var(--font-14);
  border: 1px solid #00000036;
}

.search-input::placeholder {
  color: #b9b9b9;
}

.search-icon {
  position: absolute;
  left: 20px;
  top: 8px;
}

input:focus {
  border: 1px solid #d0fc3f !important;
  outline: #d0fc3f;
}

.upload-background-img {
  /* background-image: url("../assets/img/Faces.png"); */
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 100px;
}

.dash-edit-modal .modal-header {
  border-bottom: unset !important;
}

.dash-edit-modal .modal-footer {
  border-top: unset !important;
}

/* LOGIN */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&family=Press+Start+2P&display=swap");

.form {
  max-width: 528px;
  height: 100%;
  background-color: white;
  padding: 40px;
  margin: 10% auto;
}
@media (max-width: 567px) {
  .form {
    padding: 20px;
  }
}
body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

input {
  border-radius: 0px;
  border: 1px solid #00000033;
  font-size: 16px;
  font-weight: 400;
}
.login-input {
  border-radius: 0px;
  border: 1px solid #00000033;
  font-size: 16px;
  font-weight: 400;
  padding: 17px;
}

.input:focus-visible,
input:focus {
  outline: none !important;
}

.form-heading {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
}

.text-green {
  color: #d0fc3f;
}

.fs-16 {
  font-size: 16px;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.toggle-password::before {
  position: absolute;
  left: -14px;
  bottom: -3px;
}
/* CALENDER */
.calender {
  width: 100%;
  height: 800px;
  border: 0px;
  background-color: transparent;
}
/* .fa-eye {
    background-image: url('../Img/Group\ \(3\).png') !important;
} */

.mw-342 {
  max-width: 342px;
}

.opacity-75 {
  opacity: 75%;
}

.lh-18 {
  line-height: 18px;
}

@media (max-width: 576px) {
  .w-xs-150 {
    width: 150px;
  }
}
.sidebar-text span svg path {
  fill: white !important;
  stroke: white;
}
.sidebar-text {
  color: white;
}
.social-icons {
  position: absolute;
  left: 25px;
  top: 15px;
}
.active-line {
  background-color: white;
  width: 3px;
  height: 100%;
  border-radius: 30px;
}
.eye-icon {
  position: absolute;
  top: 15px;
  right: 20px;
}
.reset-eye-icon {
  position: absolute;
  top: 25px;
  right: 20px;
}
.link-input {
  padding: 18px 37px;
}
.table-checkbox .form-check-input {
  padding: 10px !important;
}
.paginationContainerStyle li {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  color: black;
  margin: 0 4px;
  cursor: pointer;
}
.paginationContainerStyle li:hover {
  background-color: var(--color-light-green);
  color: black;
}
.paginationContainerStyle li.activePage {
  background: var(--color-light-green) !important;
  color: black;
}
.paginationContainerStyle li.next,
.paginationContainerStyle li.previous {
  background: var(--color-light-green);
  color: var(--color-bg-dark-grey);
}
.paginationContainerStyle li.next svg,
.paginationContainerStyle li.previous svg {
  filter: invert(1);
}

.paginationContainerStyle li.next.disabled,
.paginationContainerStyle li.previous.disabled {
  background: var(--color-light-green);
  color: var(--color-bg-dark-grey);
}
.pagination {
  justify-content: flex-end;
}
.userimg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.swal2-cancel {
  background-color: var(--color-light-green);
  border: 1px solid var(--color-light-green) !important;
  margin: 0px 7px;
}
.swal2-cancel:hover {
  background-color: white;
  color: var(--color-light-green);
}
.swal2-confirm {
  background-color: black !important;
  color: var(--color-light-green) !important;
  border: 1px solid var(--color-bg-dark-grey) !important;
}

.swal2-confirm:hover {
  background-color: var(--color-light-green) !important;
  color: black !important;
}
.coach-logo {
  height: 70px;
}
.image-border {
  border: 1px solid black;
}
@media (min-width: 567px) {
  .image-border-height {
    height: 262px !important;
  }
}
.table-responsive::-webkit-scrollbar {
  width: 1em;
  height: 0.5em;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #212529;
  border-radius: 10px;
}

@media (min-width: 567px) {
  .edit-program-image {
    height: 300px;
  }
}
.pdf-upload {
  background-color: #dbdbdb;
  color: #575757;
  border-radius: 22px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.image-gallery-shadow {
  display: none !important;
}
.image-border:hover .image-gallery-shadow {
  display: flex !important;
  background: rgba(0, 0, 0, 0.6);
  top: 0px;
  right: 0px;
}
